.App {
    text-align: center;
    padding: 20px;
}

img {
    max-width: 100%; /* Make sure logo does not exceed container width */
}

@media (max-width: 600px) {
    img {
        width: 50px; /* Adjust size for smaller screens */
        height: 50px; /* Adjust size for smaller screens */
    }
}


.app-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }